body {
	font-family: "Happy Monkey";
}

.container {
	width: 800px;
	position: relative;
	margin-right: auto;
	margin-left: auto;

	box-shadow: 0px 5px 0px 5px grey;

	padding-right: 50px;
	padding-left: 50px;
}

p {
	color: #707070;
}

h2 {
	color: #3998A3;
	text-align: center;
}

h3 {
	color: #474747;
	text-align: center;
}

.hero {
	background-color: #f4f4f4;
	text-align: center;
	padding-bottom: 10px;
}

li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.rating {
	text-align: center;
}

.rating span{
	width: 200px;
	height: 25px;
	color: #F4B400;
}

.star_checked {
	color: #F4B527;
}

